{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sample Project
{% endblock %}

{% block nav_bar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills mx-auto ">
            <li><button type="button" class="close-menu d-md-none"><span class="bi bi-x-lg "> </span></button></li>
            <li class="navbar-item"><a class="nav-link active" aria-current="page" href="#hero">خانه</a></li>
            <li class="navbar-item"><a class="nav-link" href="#about">درباره</a></li>
            <li class="navbar-item"><a class="nav-link" href="#books">کتاب</a></li>
            <li class="navbar-item"><a class="nav-link" href="#activities">فعالیت های فرهنگی</a></li>
            <li class="navbar-item"><a class="nav-link" href="#blog">بلاگ</a></li>
            <li class="navbar-item"><a class="nav-link" href="#contact">پل ارتباطی</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <!-- Header Start -->
    <!-- Header End  -->
    <!--hero start-->
    {% if foreword %}
        <section id="hero" class="hero py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 hero-center">
                        <div class="">
                            <div class="hero-content">
                                <h2><span class="span"> {{ foreword.name }} </span></h2>
                                <h4>{{ foreword.welcome }}</h4>
                                <p>{{ foreword.description }}</p>
                            </div>
                            <div class="pill-buttons">
                                <a href="#about" class="nav-link pill-button">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="hero-img">
                            <img src="{{ foreword.image.url }}" alt="/">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--hero end-->
    <!--about boxes-->
    <section class="about-boxes my-5">
        <div class="container">
        </div>
    </section>
    <!--about ended-->
    <!--about started-->
    {% if about_me %}
        <section id="about" class="about py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 ">
                        <div class="about-img">
                            <img src="{{ about_me.image.url }}" alt="/">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-box">
                            <div class="row">
                                <div class="col-12">
                                    <h4>{{ about_me.question }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="about-content">
                            <p>{{ about_me.text }}</p>
                        </div>
                        <ul class="about-list list-inline">
                            <li><i class="bi bi-check-circle"></i><a style="color: black"
                                                                     href="{% url 'books:all_books' %}"> کتاب ها </a>
                            </li>
                            <li><i class="bi bi-check-circle"></i><a style="color: black"
                                                                     href="{% url 'blog:all_articles' %}"> مقالات </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--about ended-->
    <!--count up started-->
    {% if count_up %}
        <section class="count-up my-5 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="count-up">
                            <div class="counted-box-01 text-center">
                                <div class="row">
                                    <!--item 01-->
                                    <div class="col-lg-3 col-6 count-item">
                                        <div class="count-icon">
                                            <i class="bi bi-book mb-0"></i>
                                        </div>
                                        <div class="count-content">
                                        <span class="timer count-number" data-from="0"
                                              data-to="{{ count_up.published }}" data-speed="5000">0</span>
                                        </div>
                                        <div class="count-description">
                                            <h6>کتاب منتشر شده</h6>
                                        </div>
                                    </div>
                                    <!--item 02-->
                                    <div class="col-lg-3 col-6 count-item">
                                        <div class="count-icon">
                                            <i class="bi bi-printer mb-0"></i>
                                        </div>
                                        <div class="count-content">
                                        <span class="timer count-number" data-from="0"
                                              data-to="{{ count_up.being_printed }}" data-speed="5000">0</span>
                                        </div>
                                        <div class="count-description">
                                            <h6>کتاب در دست چاپ</h6>
                                        </div>
                                    </div>
                                    <!--item 03-->
                                    <div class="col-lg-3 col-6 count-item">
                                        <div class="count-icon">
                                            <i class="bi bi-journal-check mb-0"></i>
                                        </div>
                                        <div class="count-content">
                                        <span class="timer count-number" data-from="0"
                                              data-to="{{ count_up.sold_volume }}" data-speed="5000">0</span>
                                        </div>
                                        <div class="count-description">
                                            <h6>جلد فروخته شده</h6>
                                        </div>
                                    </div>
                                    <!--item 04-->
                                    <div class="col-lg-3 col-6 count-item">
                                        <div class="count-icon">
                                            <i class="bi bi-journal-text mb-0"></i>
                                        </div>
                                        <div class="count-content">
                                        <span class="timer count-number" data-from="0" data-to="{{ count_up.idea }}"
                                              data-speed="5000">0</span>
                                        </div>
                                        <div class="count-description">
                                            <h6>ایده کار نشده</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--count up ended-->
    <!--skills started-->
    {% if target %}
        <section class="skills py-5">
            <div class="container">
                <div class="title-box">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ target.question }}!</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="skills-content">
                            <h2 class="span">{{ target.title }}</h2>
                            <p>{{ target.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--skills ended-->
    <!--testimonial started-->
    {% if books %}
        <section id="books" class="testimonial py-5">
            <div class="container">
                <div class="title-box">
                    <div class="row">
                        <div class="col-12">
                            <a style="color: black" href="{% url 'books:all_books' %}"><h4>: مشاهده آثار</h4></a>
                        </div>
                    </div>
                </div>
                <div class="gtco-testimonials">
                    <div class="owl-carousel owl-carousel1 owl-theme">
                        {% for book in books %}
                            <div>
                                <div class="card text-center"><img class="card-img-top" src="{{ book.image.url }}"
                                                                   alt="">
                                    <div class="card-body">
                                        <h5>{{ book.title }}</h5>
                                        <span>  <a href="{{ book.get_absolute_url }}"> مشاهده کتاب </a> </span>
                                        <p class="card-text">“ {{ book.body|safe|truncatewords:15 }} ” </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--testimonial ended-->
    <!--services started-->
    {% if activities %}
        <section id="activities" class="services py-5">
            <div class="container">
                <div class="title-box">
                    <div class="row">
                        <div class="col-12">
                            <h4>فعالیت های فرهنگی:</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        {% for activity in activities|slice:':3' %}
                            <!--items-->
                            <div class="col-12">
                                <div class="services-box">
                                    <div class="services-icon">
                                        <button type="button" class="btn btn-secondary" style="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16"
                                                 style="">
                                                <path fill-rule="evenodd"
                                                      d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="services-content">
                                        <h5>{{ activity.title }}</h5>
                                        <p>{{ activity.activity }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if activities.last.image %}
                        <div class="col-lg-4">
                            <div class="services-img">
                                <img src="{{ activities.last.image.url }}" alt="/" class="img-thumbnail">
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-lg-4">
                        {% for activity in activities|slice:'3:6' %}
                            <!--items-->
                            <div class="col-12">
                                <div class="services-box">
                                    <div class="services-icon">
                                        <button type="button" class="btn btn-secondary" style="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16"
                                                 style="">
                                                <path fill-rule="evenodd"
                                                      d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="services-content">
                                        <h5>{{ activity.title }}</h5>
                                        <p>{{ activity.activity }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--services ended-->
    <!--blog started-->
    {% if articles %}
        <section id="blog" class="blog py-5">
            <div class="container">
                <div class="title-box">
                    <div class="row">
                        <div class="col-12">
                            <h4>مقالات اخیر:</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for article in articles|slice:'3' %}
                        <!--item 01-->
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="{{ article.image.url }}" alt="">
                                </div>
                                <div class="blog-content">
                                    <h4>{{ article.title }}</h4>
                                    <p>{{ article.body|safe|truncatewords:30 }}</p>
                                    <a href="{{ article.get_absolute_url }}"><h6> بیشتر بدانید </h6></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="{% url 'blog:all_articles' %}" class="btn pill-button">مشاهده همه</a>
                </div>
            </div>
        </section>
    {% endif %}
    <!--blog ended-->
    <!--video started-->
    {% if video %}
        <section id="video" class="video py-5">
            <div class="container">
                <div class="title-box">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ video.title }}</h4>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-8">
                        <div class="video-box">
                            <div class="video-img">
                                <img src="{{ video.image.url }}" alt="">
                            </div>
                            <a href="{{ video.url }}"
                               class="popup-vimeo js-zoom-video">
                                <div class="video-box-btn">
                                    <i class="bi bi-play-fill"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="video-text">
                            <p>{{ video.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--video ended-->
    <!-- Contact Started -->
    <section id="contact" class="contact py-5">
        <div class="container">
            <div class="row">
                <div class="title-box">
                    <div class="row">
                        <div class="col-12">
                            <h4>ارتباط با ما</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="my-map">
                        <img src="{% static 'img/map.png' %}" alt="/">
                    </div>
                </div>
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="contact-form">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="d-block">
                                        {{ form.name }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="d-block">
                                        {{ form.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="d-block">
                                        {{ form.text }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="pill-buttons">
                            <button type="submit" id="submit-btn" class="pill-button">ارسال پیام</button>
                        </div>
                        <div id="message" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
                             data-delay="4000">
                            <div class="toast-body d-inline-block"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Ended -->
    <!-- footer started  -->
{% endblock %}