{% load static %}

<footer id="footer" class="footer mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-content">
                    <p class="mb-0"><a href=""></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-icon">
                    {% for social in socials|slice:"3:6" %}
                        {% if social.title == 'eitaa' %}
                            <li class="list-inline-item"><a href="{{ social.url }}"><img style="width: 26px; position: relative; top: -4px" src="{% static 'img/eitaa-icon2.png' %}" alt=""></a></li>
                        {% else %}
                        <li class="list-inline-item"><a href="{{ social.url }}"><i class="bi bi-{{ social.title }}"></i></a></li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer ended  -->
<!--return to top started-->
<a class="return-to-top" href="javascript:void(0);"><i class="bi bi-arrow-up"></i></a>
