{% load static %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!--  Bootstrap Js  -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!--  Typed Js  -->
<script src="{% static 'js/typed.js' %}"></script>
<!--  CountTo Js  -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!--  Isotope Js  -->
<script src="{% static 'js/isotope.package.js' %}"></script>
<!--  PopUp Js  -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!--  owl.carousel Js  -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!--  easing Js  -->
<script src="{% static 'js/jquery-easing-min.js' %}"></script>
<!--  Custom JS  -->
<script src="{% static 'js/custom.js' %}"></script>