{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sample Project
{% endblock %}

<!-- Header Start -->
{% block nav_bar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills mx-auto ">
            <li>
                <button type="button" class="close-menu  d-md-none">
                    <span class="bi bi-x-lg "> </span>
                </button>
            </li>
            <li class="navbar-item"><a class="nav-link active" href="{% url 'home:home' %}">خانه</a></li>
            <li class="navbar-item"><a class="nav-link" href="#blog">بلاگ</a></li>
        </ul>
    </div>
{% endblock %}
<!-- Header End  -->
<!--blog started-->
{% block content %}
    {% if articles %}
        <section id="blog" class="blog py-6">
            <div class="container">
                <div class="row">
                    {% for article in articles %}
                        <!--item 01-->
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img src="{{ article.image.url }}" alt="/">
                                </div>
                                <div class="blog-content">
                                    <h4>{{ article.title }}</h4>
                                    <p class="details">{{ article.body|safe|truncatewords:30 }}</p>
                                    <a href="{{ article.get_absolute_url }}"><h6>بیشتر بدانید</h6></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="container">
                        <div class="text text-center">

                            {% if articles.has_other_pages %}
                                <nav aria-label="...">
                                    <ul class="pagination justify-content-center">
                                        {% if articles.has_previous %}
                                            <li class=" page-item">
                                                <a class="page-link" href="?page={{ articles.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">قبلی</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item  disabled">
                                                <a class="page-link" href="#">قبلی</a>
                                            </li>
                                        {% endif %}
                                        {% for i in articles.paginator.page_range %}

                                            {% if articles.number == i %}
                                                <li class="page-item active ">
                                                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                        {% if articles.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ articles.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">بعدی</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#">بعدی</a>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="container">
            <div class="text text-center">
                <br/>
                <br/>
                <h3>هنوز مقاله ای نیست</h3>
                <br/>
                <br/>
            </div>
        </div>
    {% endif %}
{% endblock %}