{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header_references.html' %}
    <title>
        {% block title %}

        {% endblock %}
    </title>

</head>
<body data-bs-spy="scroll" data-bs-target="#scrollspy" data-bs-offset="70">
<!--preloader-->
{% include 'includes/loader.html' %}
<header id="header" class="header">
    <nav id="scrollspy" class="navbar navbar-expand-lg">
        <div class="container">
            <h1 class="navbar-brand">
                <img src="{% static None %}" alt="">
            </h1>

            {% block nav_bar %}

            {% endblock %}

            <div class="social-icons d-none d-lg-block">
                <ul class=" list-inline ml-lg-auto">
                    {% for social in socials|slice:":3" %}
                        {% if social.title == 'eitaa' %}
                            <li class="list-inline-item"><a href="{{ social.url }}"><img style="width: 26px; position: relative; top: -4px" src="{% static 'img/eitaa-icon2.png' %}" alt=""></a></li>
                        {% else %}
                        <li class="list-inline-item"><a href="{{ social.url }}"><i class="bi bi-{{ social.title }}"></i></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}

{% include 'includes/footer.html' %}
<!--return to top ended-->
<!-- Start Options -->
<!-- End Options -->
<!--  JavaScripts  -->
{% include 'includes/js_files.html' %}
</body>
</html>
